body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #144284;
}
body header .logo-container img {
  width: 150px;
  height: 90px;
  margin-left: 15px;
}
body header .menu-container ul li {
  display: inline-block;
  margin-right: 15px;
}
body header .menu-container ul li a {
  text-decoration: none;
  color: white;
}
body header .menu-container ul li a:hover {
  color: yellow;
}
body h1 {
  text-align: center;
}
body .index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px auto;
  margin-left: 30px;
}
body .index-container .item-container {
  position: relative;
  margin-top: 30px;
  flex-basis: 0 0 33%;
}
body .index-container .item-container .item-img img {
  width: 500px;
  height: 500px;
}
body .index-container .item-container .description-container {
  text-align: center;
}
body .index-container .item-container .description-container a {
  text-decoration: none;
  padding: 5px 15px;
  background-color: #144284;
  border-radius: 15px;
  color: white;
}
body .index-container .item-container .description-container a.delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b61d1d;
  border-radius: 0;
}
body .index-container .ajout-container {
  margin-top: 30px;
  width: 500px;
  height: 500px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border-radius: 15px;
}
body .index-container .ajout-container a {
  text-decoration: none;
  font-size: 5rem;
  font-weight: bold;
}
body .add-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 4rem 4rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}
body .add-container .form-group {
  flex-basis: 50%;
  text-align: center;
}
body .add-container .form-group label {
  display: block;
}
body .add-container .form-group input {
  width: 15rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0;
  box-shadow: 0 0 1rem #ddd;
}
body .add-container input.submit {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b61d1d;
  margin: 10px auto;
}
body .details-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
body .details-container .left-side {
  flex-basis: 40%;
}
body .details-container .left-side img {
  width: 100%;
}
body .details-container .right-side {
  flex-basis: 60%;
  margin-left: 20px;
  margin-top: 100px;
}
body .details-container .right-side a.input {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #144284;
  margin: 10px auto;
  text-decoration: none;
  color: white;
}
body .details-container .right-side a.submit {
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #b61d1d;
  margin: 10px auto;
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
